.Admin-form {
  display: flex;
  flex-direction: column;
  margin: 10px;
  padding: 50px 20px 100px 20px;
  font-family: 'ZCOOL QingKe HuangYou', cursive;
  color: rgb(202, 202, 202);
  border: 5px solid rgb(202, 202, 202);
  border-radius: 5px;
}

.Admin-form label {
  margin-bottom: 5px;
  text-indent: 10px;
  font-weight: bold;
}

.Admin-form input{
  font-family: 'ZCOOL QingKe HuangYou', cursive;
  border: none;
  border-radius: 5px;
  padding: 10px 0;
  text-indent: 10px;
  margin-bottom: 10px;
  color: blue;
  background-color: rgb(202, 202, 202);
  font-weight: bold;
}

.Admin-form button {
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 20px;
  color: rgb(65, 65, 238);
  background-color: rgb(202, 202, 202);
  font-weight: bolder;
}

.AdminContent {
  margin-top: 70px;
  color: rgb(202, 202, 202);
  text-align: center;
}

#AdminNavBar {
  height: 100%;
  width: 100%;
  visibility: hidden;

  background-color: rgba(0, 0, 0, 0.5);

  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
}

#NavMenu {
  height: 100%;
  width: 0;

  display: flex;
  flex-direction: column;

  background-color: rgb(65, 65, 238);
  color: rgb(202, 202, 202);

  border: 5px double rgb(202, 202, 202);

  position: fixed;
  z-index: 2;
  top: 0;
  right: 0;

  transition: 0.5s;

  padding-top: 40px;
}

#NavMenu p {
  font-weight: bold;
  font-size: 20px;

  padding: 0 10px;
}

#NavMenu .closeNavBtn {
  position: fixed;
  top: 0;
  right: 0;
  margin: 10px 25px;
  font-size: 50px;
}
